{% extends 'base.html' %}

{%block title%}
    Expense Categories
{%endblock title%}

{%block content%}
<h1>My Expense Categories</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expensecat_list%}
        <tr>
            <td>{{expense.name}}</td>
            <td>{{expense.receipts.count}}
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock content%}
