{% extends 'base.html' %}

{%block title%}
    Accounts
{%endblock title%}

{%block content%}
<h1>My Accounts</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts_list%}
        <tr>
            <td>{{account.name}}</td>
            <td>{{account.number}}</td>
            <td>{{account.receipts.count}}
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock content%}
