{% extends 'base.html' %}

{%block title%}
    Login!
{%endblock title%}

{%block content%}
<h1>Login</h1>
<div>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button>Login</button>
    </form>
</div>
{%endblock content%}
