{% extends 'base.html' %}

{%block title%}
    Sign Up
{%endblock title%}

{%block content%}
<div>
    <h1>SignUp</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>Signup</button>
    </form>
</div>
{%endblock content%}
